Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.4
1.20.3

### Persiapan Data Frame

In [5]:
n_rows =365*24
n_cols = 2
cols =['col1','col2']

df=pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),
                columns=cols)

df.index =pd.util.testing.makeDateIndex(n_rows,freq ='H')
df

                     col1  col2
2000-01-01 00:00:00     2     1
2000-01-01 01:00:00    15    12
2000-01-01 02:00:00     6    14
2000-01-01 03:00:00    16     4
2000-01-01 04:00:00    18     5
...                   ...   ...
2000-12-30 19:00:00     3    10
2000-12-30 20:00:00     4     7
2000-12-30 21:00:00     8     8
2000-12-30 22:00:00    10    10
2000-12-30 23:00:00     9     3

[8760 rows x 2 columns]

### Resampling data dengan interval montly

In [7]:
df.resample('M')['col1'].sum().to_frame()

            col1
2000-01-31  7457
2000-02-29  6971
2000-03-31  7504
2000-04-30  6924
2000-05-31  7283
2000-06-30  7227
2000-07-31  7397
2000-08-31  7441
2000-09-30  7535
2000-10-31  7660
2000-11-30  7152
2000-12-31  7123